@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 266 44% 94%;
  --foreground: var(--primary);

  --primary: 227 45% 43%;
  --primary-foreground: var(--background);
  --secondary: 224 70% 67%;
  --secondary-foreground: var(--background);

  --third: 223 38% 77%;
  --third-foreground: var(--foreground);

  --muted: 227 45% 52%;

  --accent: 333 47% 72%;
  --accent-foreground: var(--background);

  --radius: 0.75rem;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: noise-animation 0.2s infinite;
  opacity: 1;
  z-index: -1;
}

@keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bueno-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-bg {
    background: hsl(var(--background) / 30%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid hsl(var(--primary) / 30%);
  }

  .section-title {
    font-size: 12rem;
    line-height: 0.8;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.01em hsl(var(--accent));
    letter-spacing: -0.01em;
    filter: drop-shadow(calc(0.01em * -1) calc(0.01em * 1) 0 hsl(var(--accent)))
      drop-shadow(calc(0.01em * -2) calc(0.01em * 2) 0 hsl(var(--accent)));
  }

  .lamp-effect {
    opacity: 0;
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      hsla(var(--primary-foreground) / 0.2),
      hsla(0, 0%, 100%, 0)
    );
    transition: opacity 0.7s cubic-bezier(0, 0, 0, 1);

    &:hover {
      opacity: 1;
    }
  }
}
