@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 266, 44%, 94%;
  --foreground: 223, 71%, 8%;

  --primary: 227, 45%, 43%;
  --primary-foreground: var(--background);
  --secondary: 224, 70%, 67%;
  --secondary-foreground: var(--background);

  --third: 223, 38%, 77%;
  --third-foreground: var(--foreground);

  --hover: hsl(333, 47%, 72%);

  --radius: 0.75rem;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
